{% extends "dashboard/base_dashboard.html" %}

{% block title %}
    Settings
{% endblock %}

{% block additional_scripts %}
    <script type="text/javascript" src="/js/settings.js"></script>
{% endblock %}

{% block page_contents %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Settings</h6>
        </div>
        <div class="card-body">
            <div class="h-100 settingsTableLoader">
                <div class="h-100 d-flex justify-content-center">
                    <div class="align-self-center spinner-grow text-primary" role="status"></div>
                </div>
            </div>
            <div id="settingsContent" style="display: none;">
                <table class="table table-sm table-hover" id="settingsTable">
                    <!-- Dynamic Content. -->
                </table>
            </div>
        </div>
    </div>
{% endblock %}
